// TODO: Pensar em uma maneira de melhorar pois não quero utilizar o normalize

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:after, &:before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

html {
	overflow-x: hidden;
	overflow-y: scroll;

	min-width: 300px;

	font-family: "Open Sans", sans-serif;
	font-size: 16px;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;

	color: $link-color;
	// Gets rid of tap active state

	-webkit-tap-highlight-color: transparent;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}
