section#about
   .container
      .column.twelve.md-seven._center
         header.about-header
            span.about-subheading
               | A melhor opção para o seu carro
            h1.about-heading
               | PVG - Centro de assistência, reparação e manutenção
         .about-content
            p Atuamos no segmento automobilístico, fornecendo peças e serviços há trinta anos.
            p Comercio de Pneus e Baterias com serviços mecânicos em geral, regulagens, suspensão, balanceamentos e alinhamentos.
      .column.twelve.md-five._no-padding-bottom
         .about-img
            img(class="image responsive" src="https://www.pvg-autocentro.com.br/assets/img/about/about-image.png" alt="PVG AUTO CENTRO")