section#company
	.container
		.column.twelve
			header.company-header
				h2.company-heading
					| Visão geral da empresa
				p.company-description
					| Podemos ajudá-lo com tudo, desde uma simples troca de óleo até uma reparação complicada no motor.
					| Podemos lidar com qualquer problema em beículos nacionais e estrangeiros.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Alinhamento
				.content-description
					.icon
						span.stream-line.icon-car-checklist
					.description
						| Faremos o alinhamento do seu carro para minimizar o desgaste, maximizar o conforto e melhorar o desempenho do carro.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Balanceamento
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-chassis
					.description
						| É preciso fazer balanceamento para que o carro fique equilibrado e para você se sentir confortável com a direção do carro.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Suspensão
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-suspension
					.description
						| Suspensão é justamente absorver forças que seriam diretamente transmitidas ao motorista e estrutura do veículo.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Pneus
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-wheel
					.description
						| Pneus de várias marcas e medidas, nacionais e importados.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Troca de óleo
				.content-description
					.icon
						span.stream-line.icon-car-oil
					.description
						| Óleo trabalhamos com as melhoras marcas do mercado.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Caixa de direção
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-steering-wheel
					.description
						| Inimigos mortais, Buracos e guias, comprometendo a dirigibilidade do veículo faça alinhamento frequentes, para garantir maior durabilidade ao sistema.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Escapamento
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-exhaust-pipe
					.description
						| Sistema de exaustão de gases produzidos pelo motor, quando existem peças danificadas no sistema, além de aumentar o barulho e possibilidades de multa o veículo apresenta um consumo maior prejudicando a autonomia do veículo.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Amortecedor
				.content-description
					.icon
						span.flat-icon-auto-parts.icon-car-spark-plug
					.description
						| O amortecedor é um componente do sistema de suspensão dos veículos.
						| A estabilidade, conforto e segurança ficam diretamente comprometidas se os amortecedores não estiverem atuando corretamente.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Freio
				.content-description
					.icon
						span.flat-icon-auto-parts.icon-car-disc-brake
					.description
						| O desgaste natural das pastilhas para freio depende muito de como se dirige, do tipo de solo e das condições da suspensão e do sistema de freio.
						| Recomendamos fazer revisões periódicas a cada 5.000km.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Regulagem de faróis
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-headlights
					.description
						| Após várias trepidações o sistema de iluminação sofre interferência no foco luminoso, portanto a necessidade de regulagem evitando multas e uma condução mais segura.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Correia dentada
				.content-description
					.icon
						span.flat-icon-auto-parts.icon-car-timing-belt
					.description
						| Em média 40.000km até 60.000km é necessária a substituição das mesmas incluindo os tensores, evitando futuros problemas no motor.
		.column.twelve.md-four
			.company-content
				header.content-header
					h2.content-heading Embreagem
				.content-description
					.icon
						span.flat-icon-mechanical.icon-car-pedals
					.description
						| Possui uma vida útil em média de 70.000km, desde de que sejam obedecidas certas regras de condução.