section#information
	.overlay
		.container
			.column.twelve
				.info-border
					.info-text
						h2.info-heading
							| Diagnóstico e reparo mais rápido do seu carro - Ligue
							a(href="tel:+55-11-2452-8859")  11 2452-8859