nav#navigation.navigation.fixed
   .container
      .nav-brand
         a(href="https://www.pvg-autocentro.com.br/" class="brand")
            img(src="https://www.pvg-autocentro.com.br/assets/img/logo/logo-pvg.png" alt="PVG AUTO CENTRO")
      span.nav-toggle
         span
      .nav-menu.right
         a(href="#home" class="link")
            | Home
         a(href="#about" class="link")
            | Sobre
         a(href="#information" class="link")
            | Informações
         a(href="#company" class="link")
            | Empresa
         a(href="#google-maps" class="link")
            | Localização
         a(href="#footer" class="link")
            | Contato