section#home
	#slider.ps-slider
		.ps-slides
			.ps-slide(style="background-image: url('https://www.pvg-autocentro.com.br/assets/img/slider/slider-01.jpg');")
				.container
					header.slide-header
						h2.slide-heading
							| Reparação de automóveis desde 2002
			.ps-slide(style="background-image: url('https://www.pvg-autocentro.com.br/assets/img/slider/slider-02.jpg');")
				.container
					header.slide-header
						h2.slide-heading
							| Trabalhamos com as melhores marcas do mercado.
			.ps-slide(style="background-image: url('https://www.pvg-autocentro.com.br/assets/img/slider/slider-03.jpg');")
				.container
					header.slide-header
						h2.slide-heading
							| Clientes mais do que satisfeito.