section#why-choose-us
   .container
      .column.twelve
         header.why-choose-us-header
            h2.why-choose-us-heading
               | Por que nos escolher?
            p.why-choose-us-description
               | Somos uma das principais lojas de reparação automóvel de Guarulhos.
               | Todos os serviços prestados são realizados por mecânicos altamente qualificados.
      .column.twelve.md-four
         header.why-choose-header
            .why-choose-hexagon
               span.stream-line.icon-chat._center
            h2.why-choose-heading
               | Cada trabalho é pessoal
         p.why-choose-paragraph
            | Se você quiser a qualidade que você esperaria de uma concessionária, mas com uma atmosfera mais pessoal e amigável, você encontrou.
      .column.twelve.md-four
         header.why-choose-header
            .why-choose-hexagon
               span.stream-line.icon-wrench-screwdriver._center
            h2.why-choose-heading
               | Melhores materiais
         p.why-choose-paragraph
            | Investimos em todas as últimas ferramentas especializadas e software de diagnóstico que é especificamente adaptado para o software em seu veículo.
      .column.twelve.md-four
         header.why-choose-header
            .why-choose-hexagon
               span.stream-line.icon-truck-tow._center
            h2.why-choose-heading
               | Padrões profissionais
         p.why-choose-paragraph
            | Nossa oficina de reparação de automóveis é capaz de atender a uma variedade de modelos. Nós só fazemos o trabalho que é necessário para corrigir o problema.